*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav{
    background-color: rgba(0,116,224,1);  
    width: 100%;
    height: 170px;
    overflow: hidden;
    display: inline-flex;
  }
  
  .logo{
    font-family: sans-serif;
    margin: 40px 40px 0px;
    font-size: 24pt;
    color: white;
  }
  
  .searchbar{
    width:  670px;
    height: 40px;
    background-color: #e2e2e2;
    border-radius: 25px;
    margin: 40px auto;
    box-shadow: 0px 2px 15px -1.7px rgba(0,0,0,0.38);
  }
  .searchbar input[type="text"]{
    width: 90%;
    font-size: 14pt;
    margin: 8px 0px 5px 20px;
    background-color: #e2e2e2;
    border: none;
  }
  .searchbar input[type="text"]:focus{
    border: none;
  }
  .searchbar button{
    transform: translate(-2px, 5px);
    cursor: pointer;
    border: none;
    background-color: #e2e2e2;
  }
  
  .searchbar i{
    font-size: 18pt;
    color: #5c5c5c;
  }
  .searchbar i:hover{
    color: #2a7bbd;
    transition-duration: 0.3s;
  }
  
  .user-tools{
    display: flex;
    margin: 45px 0px 0px;
  }
  
  .user-tools div{
    margin: 0px 15px;
    cursor: pointer;
    height: 30px;
  }
  .user-tools i{
    font-size: 18pt;
    color: #dadada;
    border: none;
    cursor: pointer;
  }
  .user-tools .bell .bell-number{
    height: 20px;
    width:  20px;
    border-radius: 50%;
    background-color: #c20606;
    transform: translate(2px, -15px);
    box-sizing: border-box;
    padding: 2px;
  }
  .bell-number p{
    color: #f0f8ff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .user-tools .user {
    height: 53px;
    width:  53px;
    background-color: #e2e2e2;
    border-radius: 50%;
    transform: translateY(-15px);
  }
  .user i{
    font-size: 35px;
    margin: 7px 12px 9px 11px;
    color: #1f1f1f;
  }
  .nav-options{
    position: absolute;
    top: 135px;
    width: 100%;
    height: 30px;
  }
  .nav-options ul{
    position: relative;
    display: inline-flex;
    list-style: none;
    left: 50%;
    transform: translate(-50%)
  }
  .nav-options li{
    font-size: 14pt;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #818999;
    height: 100%;
    margin: 0px 30px;
  }
  .nav-options li a{
    color: #e2e2e2;
    text-decoration: none;
  }
  .nav-options li a:hover{
    color: #ffffff;
  }
  .nav-options ul div{
    height: 25px;
    width: auto;
    transform: translateY(3px);
  }
/*--------------------------------------------------------------------------*/
footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 170px;
  background-color: #14182b;
}

footer .logo{
  font-size: 14pt;
  width: 180px;
  margin: 40px auto;
  color: white;
}

footer ul{
  width :411px; 
  margin: 0px auto;
}

footer li{
  display: inline-block;
  margin: 0px 10px 0px;
}
footer li a{
  color: #8f8d8d;
  font-size:12pt;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: #8f8d8d;
}
footer li a:hover{
  color: #cecece;
  transition-duration: 0.8s;
}
footer p{
  width: 405px;
  margin: 40px auto 0;
  color: #cecece;
  font-family: Arial, Helvetica, sans-serif;
}  