body{
	padding: 25px;
}

details{
	font-size: 1rem;
	margin: 60px auto;
	width: 100%;
	background: #979797;
	border-radius: 8px;
	position: relative;
	width: 700px;
	border: none;
}

summary{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

summary:focus{
	outline: none;
	border: none;
}
	

	.summary-content {
		border-top: 1px solid #0a0a0a;
		cursor: default;
		padding: 1em;
		font-weight: 300;
		line-height: 1.5;
		background-color: #bebebe;
	}

	summary {
		padding: 1em;
	}

	.summary-chevron-up svg {
		opacity: 0.5;
	}

	.summary-chevron-up,
	.summary-chevron-down {
		pointer-events: none;
		position: absolute;
		top: 0.75em;
		right: 1em;
		background: #979797;

	}


summary::-webkit-details-marker {
	display: none;
}

summary span{
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	font-weight: 500;
	display: flex;
}


summary #i{
	color: red;
}
summary .status{
	font-family: 'Roboto', sans-serif;
	float: right;
	font-weight: 400;
	color: #0000008f;
	padding-right: 35px;
}

.summary-content p{
	font-family: 'Rubik', sans-serif;
	color: black;
	font-size: 14pt;
}

.voltar h1{
	font-family: 'Roboto', sans-serif;
	color: black;
}

.voltar a{
	font-family: 'Rubik', sans-serif;
	color: #131313;
	font-size: 25px;
	display: flex;
	align-items: center;
	padding-top: 10px;
}