header{
    background-color: #03173B;
    height: 70px;
    width: 100%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title h1{
    font-family: 'Rubik', sans-serif;
    color: #eeeeee;
    font-weight: normal;
}



header .perfil ul li{
    display: inline-flex;
    color: aliceblue;
    font-size: 20px;
}

header .perfil ul li{
    height: 40px;
    width:  40px;
    padding: 10px;
}

header .perfil ul .perfil-icon{
    background-color: #000000;
    border-radius: 25px;
    margin: 0 10px;
    border: 1px solid white;
}